services/user_service/log
services/user_service/user_service

services/goods_service/log
services/goods_service/goods_service

services/inventory_service/log
services/inventory_service/inventory_service

services/order_service/log
services/order_service/order_service

services/userop_service/log
services/userop_service/userop_service

apis/user_api/log
apis/user_api/user_api

apis/goods_api/log
apis/goods_api/goods_api

apis/order_api/log
apis/order_api/order_api
